.main-container {
  width: auto;
  height: 93.3%;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.78);
  padding-top: 10px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.main-container li {
  text-decoration-style: none;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 50px;
}

.main-container a {
  color: white;
  font-size: larger;
}
